[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Community Edition
Icon=/opt/IntelliJ/idea-IU-173.4674.33/bin/idea.png
Exec="/opt/IntelliJ/idea-IU-173.4674.33/bin/idea.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea-ce
